body {
    margin: 0;
}

#pagetop {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

#headertop {
    
    overflow: hidden;
    padding: 20px 50px;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    text-align: center;
    float: left;
}

.link {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    float: right;
    gap: 12px;
    text-align: center;

}

#headermid {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}

#h-m-left {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    align-items: center;
    margin: 0;
}

.sub {
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}

.s-u-but {
    background-color: #3882f6;
    color: white;
    margin: 0;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

#h-m-right {
    display: flex;
    align-items: center;
}

#pagemid {
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 100px;
}

.info_title {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
}

.beaches {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.beach_pic {
    border-radius: 25px;
    border-style: solid;
    border-color: blue;
}

.beach_desc {
    width: 281px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    align-items: end;
    background-color: #e5e7eb;
}

.quote-desc {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    text-align: left;
    font-weight: 800;
    font-size: 36px;
}

.sign-up {

}

.s-u-box {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.s-u-box-info {
}

.s-u-box-info-title {
    font-weight: 800;
    color: #f9faf8;
    font-size: 24px;
}

.s-u-box-info-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -10px;
}

.s-u-box-but {
    background-color: #3882f6;
    color: white;
    margin: 50px;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border-color: #f9faf8;
    margin-top: 100px;
}